<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <script src="https://kit.fontawesome.com/499def9ebd.js" crossorigin="anonymous"></script>
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" width="90%" class="center"/>
        {% endif %}


	<p><br>{{ site.description | default: site.github.project_tagline }}</p>

	<h1>
	<a href="https://www.instagram.com/shiyqw/" title="Instagram"><i class="fa-brands fa-square-instagram"></i></a>
	<a href="https://www.linkedin.com/in/shiyangqingwei" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>
	<a href="https://www.facebook.com/shiyangqingwei" title="Facebook"><i class="fa fa-facebook-square"></i></a>
	<a href="https://www.youtube.com/channel/UC6tSyAMw9wBc466upee_EBg" title="Youtube"><i class="fa-brands fa-square-youtube"></i></a>
	<a href="https://last.fm/user/shiyqw/" title="Last.FM"><i class="fa-brands fa-square-lastfm"></i></a>
	<a href="https://steamcommunity.com/profiles/76561198337940739" title="Steam"><i class="fa-brands fa-square-steam"></i></a>
	<a href="https://www.github.com/shiyqw" title="Github"><i class="fa fa-github-square"></i></a>
	</h1>

        <p class="view"><a href="/index">About</a></p>
        <p class="view"><a href="/career">Career</a></p>
        <p class="view"><a href="/academic">Academic</a></p>
        <p class="view"><a href="/misc">Miscellaneous</a></p>
	<p class="view"><a href="{{site.resume | relative_url}}">Resume</a></p>
	<!--
        <p class="view"><a href="{{ site.github.repository_url }}">Resume</a></p>
        <p class="view">Place holder for social links</p>
	-->

	<!---
        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}
	-->
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This page is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme minimal</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
